@charset "UTF-8";

/* 

    Paleta de cores
    Azul escuro: #1F3F8A
    Azul claro: #6B96FA

*/

/* MOBILE FIRST */

* {

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    padding: 0px;

    margin: 0px;

    box-sizing: border-box;

}

body, html {

    background-color: #1F3F8A;
    height: 100vh;
    width: 100vw;

}

main {
    position: relative;
    height: 100vh;
    width: 100vw;

}

section#login {

    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 516px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

    transform: translate(-50%, -50%);
    transition: width .5s, height .5s;
    transition-timing-function: ease;

}

section#login > div#imagem {

    display: block;
    background: #1F3F8A url(../imagens/building.jpg) no-repeat;
    background-size: cover;
    height: 200px;

}

section#login > div#formulario {

    display: block;
    padding: 10px;

}

div#formulario > h1 {

    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {

    font-size: 0.9em;

}

form > div.campo {

    background-color: #3263d4;
    border: 2px solid #3263d4;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}

div.campo > label {

    display: none;
}

div.campo > i {

    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input {

    background-color: #cedbf8;
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    border: 0px;
    border-radius: 8px;

    transform: translateY(-13px);
}

div.campo > input:focus-within {

    background-color: white;

}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24

}

form > input[type=submit] {

    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #6B96FA;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

form > input[type=submit]:hover {

    background-color: #1F3F8A;

}

form > a.botao {

    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;

    background-color: white;
    color: #1F3F8A;
    border: 2px solid #1F3F8A;
    border-radius: 8px;
    text-decoration: none;

}

form > a.botao:hover {

    color: white;
    background-color: #1F3F8A;

}

a > p{
    display: inline-block;
    transform: translateY(-7px)
}

